{# Web page elements #}


{% macro head(template_params) %}
    <title> {{ template_params['title'] }} </title>
    <meta name="google-signin-client_id" content="{{ template_params['google_signin_client_id'] }}" />
    <meta name="google-site-verification" content="{{ template_params['google_site_verification'] }}" />

    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"> </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- DEBUG REMOVE
    <script src='item?url=js/raphaeljs-infobox.js'></script>
    -->
    
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

    <style type="text/css">
      div.space {
          display:inline-block;
          padding-left:6px;
          padding-right:6px;
      }
    </style>

    <script type="text/javascript">
      math = {}
      math.eq = function(x, y, precision) { if (typeof(precision)==='undefined') precision = 0.00001; return Math.abs(x-y) < precision; }
    </script>

    <script type = "text/javascript">
      function setError(id) {
        document.getElementById(id).style.border = "3px solid red";
      }
      function setOK(id) {
        document.getElementById(id).style.border = "3px solid green";
      }
      function clearAllWBorder(id) {
        document.getElementById(id).style.border = "1px solid #ccc";
      }
      function clearAllNoBorder(id) {
        document.getElementById(id).style.border = "0px solid white";
      }
    </script>  

    <style>
      body {
        height: 100%;
        background-image: url(item?url=images/background.svg);
        background-color: white;
        background-size:100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size:cover;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bubblegum+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />


{% endmacro %}



{% macro init_elements() %}
    <script>
      function invert_colors(button_id, text_id, color_b, color_t) {
        var button = document.getElementById(button_id);
        var text = document.getElementById(text_id);
        button.style.background=color_b;
        text.style.color=color_t;
      }
    </script>
{% endmacro %}


{% macro large_button_start(obj_type, id_button, id_content, front_color, back_color, height, width, 
                    margin_right, margin_left, margin_bottom, margin_top, link="") %}

          <{{obj_type}} id="{{id_button}}" class="" 
              style="display: inline-block;
                      cursor: pointer;
                      border-radius: 10px;
                      border: 0.1px solid #000000;
                      padding: 0px;
                      background: {{back_color}};
                      color: {{front_color}};
                      width: {{width}};
                      height: {{height}};
                      margin-right: {{margin_right}};
                      margin-left: {{margin_left}};
                      margin-bottom: {{margin_bottom}};
                      margin-top: {{margin_top}};
                      box-shadow: 0px 5px 5px #dddddd;"
                      onmouseover="invert_colors('{{id_button}}', '{{id_content}}', '{{front_color}}', '{{back_color}}');" 
                      onmouseout="invert_colors('{{id_button}}', '{{id_content}}', '{{back_color}}', '{{front_color}}');" 
              {{link}}>
{% endmacro %}



{% macro large_button_end(obj_type) %}
          </{{obj_type}}>
{% endmacro%}