<!DOCTYPE html>
<html>
  <head>

    {% import 'elements.html.j2' as elements %}
    {{ elements.head(template_params) }}
    {{ elements.init_elements() }}
    {{ elements.standard_background(template_params) }}

  </head>

  <body>

    <!-- MOBILE MENU START -->
    {% import 'menu.html.j2' as menu %}
    {{ menu.include() }}
    {{ menu.head(template_params) }}
    {{ menu.dropdowns(template_params) }}
    <!-- MENU END -->


    <div style="display:block; width: 100%; text-align: center; margin-top: 35px; margin-bottom: 4px; ">
      <div class="sh_chalk_font" style="display:inline-block; width: 198px; height: 44px; font-size: 18px; color: #dc3d39">
        Error: {{template_params['error_msg']}}
      </div>
    </div>

  </body>
</html>
