<!DOCTYPE html>
<html>
  <head>

    {% import 'elements.html.j2' as elements %}
    {{ elements.head(template_params) }}
    {{ elements.init_elements() }}
    {{ elements.standard_background() }}

  </head>

  <body>

    <!-- MOBILE MENU START -->
    {% import 'menu.html.j2' as menu %}
    {{ menu.include() }}
    {{ menu.head() }}
    {{ menu.dropdowns(template_params) }}
    <!-- MENU END -->




    <div style='display:block; width: 100%;'>
      <div class="sh_font" style="display:inline-block; width: 100%; text-align: center; margin: 30px 0 20px 0; font-size: 18px;">
        Bravo! Tvoj rezultat:
      </div>

      {# {% for r in template_params["results"] %}
        {{r[q_id]}}: tacno {{r[correct]}}, netacno {{r[incorrect]}} <br>
      {% endfor %}

      <br> Ukupno tacno {{template_params["correct"]}}/
                {{template_params["correct"] + template_params["incorrect"]}} <br><br>
      #}

      {# Division by zero:                 #}
      {# ({{template_params["correct"]/(template_params["correct"] + template_params["incorrect"])}}):<br><br>  #}
  

      <div style="display:inline-block; width: 100%; text-align: center; margin: 10px 0 30px 0; background: white">
        {{ elements.stats("bar", template_params["bar"]["star1"], template_params["bar"]["star2"], 
                                template_params["bar"]["star3"], template_params["bar"]["missed"]) }} 
      </div>

    </div>


    {{ elements.footer(2, template_params['url_year'], template_params['url_theme']) }}


  </body>
</html>
