<!DOCTYPE html>
<html>
  <head>

    {% import 'elements.html.j2' as elements %}
    {{ elements.head(template_params) }}
    {{ elements.init_elements() }}
    {{ elements.standard_background() }}

  </head>

  <body>

    <!-- MOBILE MENU START -->
    {% import 'menu.html.j2' as menu %}
    {{ menu.include() }}
    {{ menu.head() }}
    {{ menu.dropdowns(template_params) }}
    <!-- MENU END -->



    {{template_params["question"]}}




    <!-- BUTTONS START -->
    <div id='question' style='display:table; margin:0 auto;'>
    <div id='question_buttons' style='display:block;text-align:center;padding-top:20px;padding-bottom:6px'>

    <!-- PREV BUTTON -->
    <input id='but_prev' type='button' style='font-size: 14px;' 
        onclick='window.location.replace("{{template_params["links"]["back"]}}")' value='Nazad' />
    <!-- END PREV BUTTON -->



    <!-- SPACE -->
    <div style='display:inline-block;padding-left:6px;padding-right:6px;'> </div>

    <!-- CLEAR BUTTON -->
    <input id='but_clear' type='button' style='font-size: 14px;' onclick="clearAll()" value='Obrisi' />
    <!-- END CLEAR BUTTON -->




    <!-- SPACE -->
    <div style='display:inline-block;padding-left:6px;padding-right:6px;'> </div>

    <!-- CHECK BUTTON -->
    <input id='but_check' type='button' style='font-size: 14px;' 
          onclick='{{template_params["links"]["check"]}}' value='Proveri'/>
    <!-- END CHECK BUTTON -->



    <!-- NEXT BUTTON -->
    <div style='display:inline-block;padding-left:6px;padding-right:6px;'> </div>
    <input id='but_next' type='button' style='display:none; font-size: 14px;' 
          onclick='{{template_params["links"]["skip"]}}' value='Preskoci' />
    <!-- END NEXT BUTTON -->



    <!-- SPACE -->
    <div style='display:inline-block;padding-left:6px;padding-right:6px;'> </div>
    
    <!-- SOLUTION BUTTON -->
    <input id='but_help' type='button' style='display:none; font-size: 14px;' 
        onclick="clearAll();addSolutionAll();
                document.getElementById('but_check').style.display='none';
                document.getElementById('but_help').style.display='none';
                document.getElementById('but_clear').style.display='none';
                document.getElementById('but_next').value='Dalje';"
        value='Resenje' />        
    <!-- END SOLUTION BUTTON -->




    <!-- SPACE -->
    <div style='display:inline-block;padding-left:6px;padding-right:6px;'> </div>
    
    <!-- FEEDBACK BUTTON -->
    {{elements.start_popup("feedback_report", "width: 300px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 8px;")}}

      <h3> Unesite detalje komentara</h3>
      Mislite da zadatak: <br>
      <input type='radio' id='fb_problem'> Ima problem <br>
      <input type='radio' id='fb_unclear'> Nije jasan <br>
      <input type='radio' id='fb_difficult'> Pretezak <br>
      <input type='radio' id='fb_easy'> Prelak <br>
      <input type='radio' id='fb_other'> Drugo <br> 
      <br> Dodatni komentar: <br><input type='text' id='fb_komentar'> <br> <br>
      <input align='center' type='button' style='font-size: 14px;'  
              onclick="sendFeedbackToServer('{{template_params['root']}}', 
                  document.getElementById('fb_problem').checked?'problem':(
                    document.getElementById('fb_unclear').checked?'unclear':(
                    document.getElementById('fb_difficult').checked?'unclear':(
                    document.getElementById('fb_easy').checked?'unclear':'other'))), 
                  '{{template_params['q_id']}}', '{{template_params['l_id']}}', 
                  document.getElementById('fb_komentar').value); 
              popup_toggle_feedback_report(); 
              document.getElementById('but_fb').style.display='none';
              " value='Posalji prijavu' />

      <div style='display:inline-block;padding-left:6px;padding-right:6px;'> </div>"
      <input align='center' type='button' style='font-size: 14px;' 
          onclick="popup_toggle_feedback_report();" value='Odustani' />

    {{elements.end_popup()}}

    <input id='but_fb' type='button' style='font-size: 14px;' onclick="popup_toggle_feedback_report()" value='Prijavi problem' />

    <!-- END FEEDBACK BUTTON -->




    </div>
    </div>
    <!-- BUTTONS END -->



    <br><br>
    <div style='width: auto ;margin-left: auto ;margin-right: auto ;'>
      Pitanje {{template_params["q_number"]}} od 3\n
      Do sada: {{template_params["correct"]}} / {{template_params["incorrect"] + template_params["correct"]}}
    </div>



  </body>
</html>
