<!DOCTYPE html>
<html>
  <head>

    {% import 'elements.html.j2' as elements %}
    {{ elements.head(template_params) }}
    {{ elements.init_elements() }}
    {{ elements.standard_background() }}

  </head>

  <body>

    <!-- MOBILE MENU START -->
    {% import 'menu.html.j2' as menu %}
    {{ menu.include() }}
    {{ menu.head() }}
    {{ menu.dropdowns(template_params) }}
    <!-- MENU END -->


    <div class="" align="center" style="display:content; margin-top:12px; font-family: 'Lato'; font-weight: 400; font-size: 20px; color: #636661">
      Nije teško savladati
    </div>
    <div class="" align="center" style="display:content; margin-top:-12px; font-family: 'Lato'; font-weight: 400; font-size: 40px; color: #636661">
      matematiku!
    </div>
    <div class="" align="center" style="display:content; margin-top:12px; margin-bottom:34px; font-family: 'Lato'; font-weight: 400; font-size: 20px; color: #636661">
      Odaberi razred.
    </div>
    <div style="display:table; margin:0 auto">
      <div class="" align="center" style="display:content; border:0px; padding:0px; margin:0px">

        {% for b in template_params['button']['choices'] %}                              
          <div id="{{"button_{}".format(loop.index)}}" class="sh-std-button" 
              style="display: inline-block;
                      background: {{b['back_color']}};
                      color: {{b['front_color']}};
                      width: 130px;
                      height: 130px;
                      margin-right: 8px;
                      margin-left: 8px;
                      margin-bottom: 8px;
                      margin-top: 8px;"
                      onclick="select_button('{{"button_{}".format(loop.index)}}', 
                            '{{b['front_color']}} 3px solid', '#000000 0.1px solid', next_callback)">
            <div id="{{ "text_{}".format(loop.index) }}", class="" 
                style="display: inline-block;
                    margin-top: 11px;
                    font-family: 'Bubblegum Sans'; 
                    font-size: {{ template_params['button']['font_size'] }}  ; 
                    color: {{ b['front_color'] }}"> {{ b['title'] }}
            </div>                
          </div>

          {% if loop.index % 2 == 0 %}
            </div>
            <div class="" align="center" style="display:content; border:0px; padding:0px; margin:0px">
          {% endif %}
        {% endfor %}

      </div>
      <div class="" align="center" style="display:content; border:0px; padding:0px; margin:0px">
      </div>
    </div>




  {{ elements.next() }}


  {{ elements.footer(0) }}


  </body>
</html>
